<!--Statistics cards Starts-->
<div class="row pl-3 pr-3" *ngIf="institution">
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-blackberry">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left" *ngIf="focusGroups">
                            <h3 class="font-large-1 mb-0">{{focusGroups.length}}</h3>
                            <span>Grupos de enfoque</span>
                        </div>
                        <div class="media-body white text-left" *ngIf="!focusGroups">
                            <h3 class="font-large-1 mb-0">0</h3>
                            <span>Grupos de enfoque</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-pie-chart font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div class="height-75 mb-2">
                    <img class="w-100 mt-2"
                         src="https://res.cloudinary.com/utilisimo/image/upload/v1554946647/graphCard_dxtfwr.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-ibiza-sunset white">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left" *ngIf="onCourseFG">
                            <h3 class="font-large-1 mb-0">{{onCourseFG + recruitingFG}}</h3>
                            <span>Grupos de enfoque activos</span>
                        </div>
                        <div class="media-body white text-left" *ngIf="!onCourseFG && recruitingFG">
                            <h3 class="font-large-1 mb-0">{{recruitingFG}}</h3>
                            <span>Grupos de enfoque activos</span>
                        </div>
                        <div class="media-body white text-left" *ngIf="!onCourseFG && !recruitingFG">
                            <h3 class="font-large-1 mb-0">0</h3>
                            <span>Grupos de enfoque activos</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-graph font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div class="height-75 mb-2">
                    <img class="w-100 mt-2"
                         src="https://res.cloudinary.com/utilisimo/image/upload/v1554946647/graphCard_dxtfwr.png"
                         alt="">
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-green-tea">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left" *ngIf="endedFG">
                            <h3 class="font-large-1 mb-0">{{endedFG}}</h3>
                            <span>Grupos de enfoque terminados</span>
                        </div>
                        <div class="media-body white text-left" *ngIf="!endedFG">
                            <h3 class="font-large-1 mb-0">0</h3>
                            <span>Grupos de enfoque terminados</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-graph font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div class="height-75 mb-2">
                    <img class="w-100 mt-2"
                         src="https://res.cloudinary.com/utilisimo/image/upload/v1554946647/graphCard_dxtfwr.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-lg-6 col-md-6 col-12">
        <div class="card gradient-pomegranate">
            <div class="card-body">
                <div class="card-block pt-2 pb-0">
                    <div class="media">
                        <div class="media-body white text-left" *ngIf="aptitudeTests">
                            <h3 class="font-large-1 mb-0">{{aptitudeTests.length}}</h3>
                            <span>Pruebas de aptitud</span>
                        </div>
                        <div class="media-body white text-left" *ngIf="!aptitudeTests">
                            <h3 class="font-large-1 mb-0">0</h3>
                            <span>Pruebas de aptitud</span>
                        </div>
                        <div class="media-right white text-right">
                            <i class="icon-bulb font-large-1"></i>
                        </div>
                    </div>
                </div>
                <div class="height-75 mb-2">
                    <img class="w-100 mt-2"
                         src="https://res.cloudinary.com/utilisimo/image/upload/v1554946647/graphCard_dxtfwr.png"
                         alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Statistics cards Ends-->

<!--Gradient graph start-->
<div _ngcontent-c8="" class="row">
    <div _ngcontent-c8="" class="col-sm-12">
        <div _ngcontent-c8="" class="card shadow-lg mr-3 ml-3">
            <div _ngcontent-c8="" class="card-header"><h4 _ngcontent-c8="" class="card-title">GRUPOS DE ENFOQUE
                ANUALES</h4></div>
            <div _ngcontent-c8="" class="card-content">
                <div _ngcontent-c8="" class="card-body mr-2 ml-2 mb-4">
                    <div _ngcontent-c8="" class="chart-info mb-3 ml-2">
                        <span _ngcontent-c8="" class="gradient-mint d-inline-block rounded-circle mr-1 ml-2"
                              style="width:15px; height:15px;"></span>
                        Grupos creados
                    </div>
                    <div id="line-area" class="height-350 lineArea">
                        <x-chartist [data]="lineArea.data" [type]="lineArea.type" [options]="lineArea.options"
                                    [responsiveOptions]="lineArea.responsiveOptions" [events]="lineArea.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Gradient graph end-->

<div class="row pr-3 pl-3" matchHeight="card">

    <div _ngcontent-c6="" class="col-xl-4 col-lg-12">
        <div _ngcontent-c6="" class="card shadow-lg" style="height: 486.875px;">
            <div _ngcontent-c6="" class="card-header"><h4 _ngcontent-c6="" class="card-title">Estadística grupos de
                enfoque</h4></div>
            <div _ngcontent-c6="" class="card-content">
                <p _ngcontent-c6="" class="font-medium-2 text-muted text-center">Estado de los grupos</p>
                <div _ngcontent-c6="" class="height-250 donut" id="donut-dashboard-chart">
                    <x-chartist [data]="donutChart.data" [type]="donutChart.type" [options]="donutChart.options"
                                [responsiveOptions]="donutChart.responsiveOptions" [events]="donutChart.events">
                    </x-chartist>
                </div>
                <div _ngcontent-c6="" class="card-body" style="padding: 1.25rem">
                    <div _ngcontent-c6="" class="row mb-3">
                        <div _ngcontent-c6="" class="col"><span _ngcontent-c6=""
                                                                class="mb-1 text-muted d-block">{{onCourseFGPer}}% - En curso</span>
                            <div _ngcontent-c6="" class="progress" style="height: 5px;">
                                <div id="oncourseFGPercent" _ngcontent-c6="" aria-valuemax="100" aria-valuemin="0"
                                     aria-valuenow="0"
                                     class="progress-bar bg-success" role="progressbar" style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                    <div _ngcontent-c6="" class="row mb-2">
                        <div _ngcontent-c6="" class="col"><span _ngcontent-c6=""
                                                                class="mb-1 text-muted d-block">{{endedFGPer}}% - Finalizados</span>
                            <div _ngcontent-c6="" class="progress" style="height: 5px;">
                                <div id="endedFGPercent" _ngcontent-c6="" aria-valuemax="100" aria-valuemin="0"
                                     aria-valuenow="0"
                                     class="progress-bar bg-red bg-lighten-1" role="progressbar"
                                     style="width: 0%;"></div>
                            </div>
                        </div>
                        <div _ngcontent-c6="" class="col"><span _ngcontent-c6=""
                                                                class="mb-1 text-muted d-block">{{recruitingFGPer}}% - Reclutando</span>
                            <div _ngcontent-c6="" class="progress" style="height: 5px;">
                                <div id="recruitingFGPercent" _ngcontent-c6="" aria-valuemax="100" aria-valuemin="0"
                                     aria-valuenow="0"
                                     class="progress-bar bg-warning" role="progressbar"
                                     style="width: 0%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-xl-4 col-lg-12">-->
    <!--<div class="card shadow-lg">-->
    <!--<div class="card-header">-->
    <!--<h4 class="card-title mb-0">Participantes</h4>-->
    <!--</div>-->
    <!--<div class="card-body" *ngIf="participants">-->
    <!--<div class="card-block">-->
    <!--<div _ngcontent-c26="" class="media mb-1" *ngFor="let participant of participants">-->
    <!--<a _ngcontent-c26="" *ngIf="participant.gender == 'MALE'">-->
    <!--<img _ngcontent-c26="" class="media-object d-flex mr-3 bg-primary height-50 width-50 rounded-circle" src="https://res.cloudinary.com/utilisimo/image/upload/v1544891336/oi1fydm4aykjzdmn9mzh.png">-->
    <!--</a>-->
    <!--<a _ngcontent-c26="" *ngIf="participant.gender == 'FEMALE'">-->
    <!--<img _ngcontent-c26="" class="media-object d-flex mr-3 bg-primary height-50 width-50 rounded-circle" src="https://res.cloudinary.com/utilisimo/image/upload/v1544885463/cy2nvotjzg3k3ig5jdaz.png">-->
    <!--</a>-->
    <!--<a _ngcontent-c26="" *ngIf="participant.gender == 'UNDEFINED'">-->
    <!--<img _ngcontent-c26="" class="media-object d-flex mr-3 bg-primary height-50 width-50 rounded-circle" src="https://res.cloudinary.com/utilisimo/image/upload/v1553464422/user-placeholder_fqdsvl.png">-->
    <!--</a>-->
    <!--<div _ngcontent-c26="" class="media-body">-->
    <!--<h4 _ngcontent-c26="" class="font-medium-1 mt-1 mb-0">{{participant.user.name}}</h4>-->
    <!--<p _ngcontent-c26="" class="text-muted font-small-3">{{participant.user.identificationNumber}}</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <div class="col-xl-8 col-lg-12 col-12">
        <div class="card shadow-lg" style="height: 487px;">
            <div class="card-header">
                <h4 class="card-title cursor-pointer">Grupos de
                    enfoque
                    <button id="jh-create-entity" class="btn btn-raised btn-primary float-right"
                            [routerLink]="['/focus-group/new']">
                        <i class="ft-plus"></i>
                        <span>
                            Registrar nuevo grupo de enfoque
                        </span>
                    </button>
                </h4>
            </div>
            <div class="card-body" style="height: 300px; overflow-y: scroll">
                <table class="table table-responsive-md text-center" *ngIf="focusGroups">
                    <thead>
                    <tr>
                        <th><span>Nombre</span></th>
                        <th><span>Descripción</span></th>
                        <th><span>Código</span></th>
                        <th><span>Estado</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let focusGroup of focusGroups">
                        <td>{{focusGroup.name}}</td>
                        <td>{{focusGroup.description}}</td>
                        <td>{{focusGroup.code}}</td>
                        <td *ngIf="focusGroup.endDate.toString() < today">
                            <a class="btn btn-raised btn-round btn-danger" style="cursor: default;">Finalizado</a>
                        </td>
                        <td *ngIf="focusGroup.endDate.toString() >= today && focusGroup.beginDate.toString() <= today">
                            <a class="btn btn-raised btn-round btn-success" style="cursor: default;">En curso</a>
                        </td>
                        <td *ngIf="focusGroup.beginDate.toString() > today">
                            <a class="btn btn-raised btn-round btn-warning" style="cursor: default;">Reclutando</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row pr-3 pl-3" matchHeight="card">
    <div class="col-xl-8 col-lg-12 col-12">
        <div class="card shadow-lg" style="height: 550px;">
            <div class="card-header">
                <h4 class="card-title cursor-pointer">Incentivos
                    <button id="jh-create-incentive" *ngIf="institution.membership.id == 2"
                            class="btn btn-raised btn-primary float-right"
                            [routerLink]="['/incentive/new']">
                        <i class="ft-plus"></i>
                        <span>
                        Registrar un nuevo incentivo
                    </span>
                    </button>
                </h4>
            </div>
            <div *ngIf="institution.membership.id == 2" class="card-body" style="height: 300px; overflow-y: scroll">
                <table class="table table-responsive-md text-center">
                    <thead>
                    <tr>
                        <th></th>
                        <th><span>Nombre</span></th>
                        <th><span>Cantidad</span></th>
                        <th><span>Descripción</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let incentive of incentives">
                        <td><img class="media-object round-media" src="{{incentive.image}}"
                                 alt="Generic placeholder image" style="height: 75px;"/></td>
                        <td>{{incentive.name}}</td>
                        <td>{{incentive.quantity}}</td>
                        <td>{{incentive.description}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="institution.membership.id == 1" class="card-body" style="height: 300px; overflow-y: scroll">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect" style="height: 550px; width: 1100px; margin-bottom:20px;">
                        <img class="img-responsive" src="https://100blackmen.org/wp-content/uploads/2016/09/Board-Meeting-Room_dark.jpg" alt="">
                        <div class="overlay">
                            <h2 style="font-size: 30px;">¡No disponible!</h2>
                            <p style="font-size: 20px;">Lo sentimos necesitas membresía Premium para poder acceder a esta funcionalidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div _ngcontent-c26="" class="col-lg-4 col-md-6 col-sm-12">
        <div _ngcontent-c25="" class="card row text-center shadow-lg">

            <div class="card-header" style="padding: 1.5rem 1.5rem 0 1.5rem;">
                <h4 class="card-title cursor-pointer">Membresías</h4>
            </div>

            <div _ngcontent-c25="" class="col-12 p-0 rounded">
                <div _ngcontent-c25="" class="card-group shadow-lg rounded" style="margin: 18px 0 0 0;">

                    <div _ngcontent-c25="" class="card m-0 rounded-bottom"
                         style="box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);">
                        <div _ngcontent-c25="" class="card-content">
                            <div class="text-center">
                                <img _ngcontent-c25="" alt="Card image cap"
                                     class="card-img-top img-fluid width-80-per mt-3" src="../assets/img/GRATIS.png">
                            </div>
                            <div _ngcontent-c25="" class="card-body" style="padding: 1.5rem;">
                                <h4 _ngcontent-c25="" class="card-title">Básica</h4>
                                <p _ngcontent-c25="" class="card-text">
                                    La <strong>membresía básica</strong> otorga permiso de hacer uso básico de la
                                    aplicación.
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c25="" class="card-footer text-center">
                            <i class="btn ft-check font-medium-4 p-0"></i>
                        </div>
                    </div>
                    <div _ngcontent-c25="" class="card m-0 rounded-bottom"
                         style="box-shadow: 0 6px 0 0 rgba(0,0,0,.01), 0 15px 32px 0 rgba(0,0,0,.06);">
                        <div _ngcontent-c25="" class="card-content">
                            <div class="text-center">
                                <img _ngcontent-c25="" alt="Card image cap"
                                     class="card-img-top img-fluid width-80-per mt-3" src="../assets/img/premium.png">
                            </div>
                            <div _ngcontent-c25="" class="card-body" style="padding: 1.5rem;">
                                <h4 _ngcontent-c25="" class="card-title">Premium</h4>
                                <p _ngcontent-c25="" class="card-text">
                                    Por ‎₡10.000, la <strong>membresía premium</strong> otorga el permiso extra de crear
                                    tus propios incentivos.
                                </p>
                            </div>
                        </div>
                        <div _ngcontent-c25="" class="card-footer text-center" id="footerPremium">
                            <a (click)="openModal(confirmationWindow)" class="btn btn-flat btn-primary m-0">Obtener</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #confirmationWindow let-c="close" let-d="dismiss">
    <div class="modal-header" style="background-color: #5cb85c; color: #fff;">
        <h4 class="modal-title">Confirmación</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="px-3">
            <form class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate>
                <div class="form-body">
                    <div class="form-group">
                        <label class="form-control-label">¿Estás seguro que quieres pagar ₡10.000
                            por esta membresía?</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                (click)="d('Force cancel')">
            <i class="ft-x"></i> Cancelar
        </button>
        <button class="btn btn-raised btn-primary" type="submit" id="save-entity"
                (click)="obtenerPlanPremium(); d('Force cancel')">
            <i class="ft ft-check"></i> Confirmar
        </button>
    </div>
</ng-template>

<div *ngIf="notEnoughCredits">
    <div id="warningNotEnoughCreditsAlert" #warningNotEnoughCreditsAlert class="popupunder alert alert-dismissible custom-alert-warning">
        <button type="button" data-dismiss="alert" class="close" (click)="closeMe(warningNotEnoughCreditsAlert)">×</button>
        <span class="ft-alert-triangle"></span> <strong>¡Atención!</strong>
        <hr class="message-inner-separator" style="background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));">
        <p>¡No posees suficientes fondos para realizar la compra!
            <strong><a style="color: #fff;" [routerLink]="['/balance-account']" routerLinkActive="active"
                       [routerLinkActiveOptions]="{ exact: true }">¿Recargar cuenta?</a></strong></p>
    </div>
</div>


