.chat-name,
.chat-app-window,
.chat-app-form {
    margin-left: 0px !important;
}

.chat-name {
    min-height: 77px;
}

.chat-application {
    border-left: 1px solid rgb(228, 231, 237);
}

.chat-container {
    height: 70vh;
}
