<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-payment-method-heading">Create or edit a Payment Method</h2>
            <div>
                <div class="form-group" [hidden]="!paymentMethod.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="paymentMethod.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cardNumber">Card Number</label>
                    <input type="number" class="form-control" name="cardNumber" id="field_cardNumber"
                        [(ngModel)]="paymentMethod.cardNumber" required/>
                    <div [hidden]="!(editForm.controls.cardNumber?.dirty && editForm.controls.cardNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cardNumber?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cardNumber?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_expirationDate">Expiration Date</label>
                    <div class="input-group">
                        <input id="field_expirationDate" type="text" class="form-control" name="expirationDate" ngbDatepicker  #expirationDateDp="ngbDatepicker" [(ngModel)]="paymentMethod.expirationDate"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expirationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.expirationDate?.dirty && editForm.controls.expirationDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.expirationDate?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cardName">Card Name</label>
                    <input type="text" class="form-control" name="cardName" id="field_cardName"
                        [(ngModel)]="paymentMethod.cardName" required/>
                    <div [hidden]="!(editForm.controls.cardName?.dirty && editForm.controls.cardName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cardName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_cardCVV">Card CVV</label>
                    <input type="number" class="form-control" name="cardCVV" id="field_cardCVV"
                        [(ngModel)]="paymentMethod.cardCVV" required/>
                    <div [hidden]="!(editForm.controls.cardCVV?.dirty && editForm.controls.cardCVV?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cardCVV?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.cardCVV?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" [(ngModel)]="paymentMethod.user" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userAppOption.id === paymentMethod.user?.id ? paymentMethod.user : userAppOption" *ngFor="let userAppOption of userapps; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
