<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="paymentMethod">
            <h2><span>Payment Method</span> {{paymentMethod.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span>Card Number</span></dt>
                <dd>
                    <span>{{paymentMethod.cardNumber}}</span>
                </dd>
                <dt><span>Expiration Date</span></dt>
                <dd>
                    <span>{{paymentMethod.expirationDate}}</span>
                </dd>
                <dt><span>Card Name</span></dt>
                <dd>
                    <span>{{paymentMethod.cardName}}</span>
                </dd>
                <dt><span>Card CVV</span></dt>
                <dd>
                    <span>{{paymentMethod.cardCVV}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    <div *ngIf="paymentMethod.user">
                        <a [routerLink]="['/user-app', paymentMethod.user?.id, 'view']">{{paymentMethod.user?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/payment-method', paymentMethod.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
