<div>
    <h2 id="page-heading">
        <span>Mi balance</span>
    </h2>
    <br/>
<div>
    <div class="col-xl-3 col-lg-6 col-12" style="float: right; display:inline-block;">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="px-3 py-3">
                    <div class="media">
                        <div class="media-body white text-left">
                            <h3>₡{{formatedBalance}}</h3>
                            <span>Saldo actual</span>
                        </div>
                    </div>
                </div>
                <button class="btn btn-raised shadow-z-2 btn-success" (click)="retrieveFunds()"><i class="ft-plus"></i>Retirar fondos</button>
            </div>
        </div>
    </div>
    <div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>Añadir ₡2.500</h3>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-raised shadow-z-2 btn-success" (click)="openCheckout(250000)"><i class="ft-plus"></i>Añadir fondos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>Añadir ₡5.000</h3>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-raised shadow-z-2 btn-success" (click)="openCheckout(500000)"><i class="ft-plus"></i>Añadir fondos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>Añadir ₡12.500</h3>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-raised shadow-z-2 btn-success" (click)="openCheckout(1250000)"><i class="ft-plus"></i>Añadir fondos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>Añadir ₡25.000</h3>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-raised shadow-z-2 btn-success" (click)="openCheckout(2500000)"><i class="ft-plus"></i>Añadir fondos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-12">
            <div class="card bg-primary">
                <div class="card-body">
                    <div class="px-3 py-3">
                        <div class="media">
                            <div class="media-body white text-left">
                                <h3>Añadir ₡50.000</h3>
                            </div>
                            <div class="media-right align-self-center">
                                <button class="btn btn-raised shadow-z-2 btn-success" (click)="openCheckout(5000000)"><i class="ft-plus"></i>Añadir fondos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!--<div class="table-responsive" *ngIf="balanceAccounts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Balance</span></th>
            <th><span>Debit Balance</span></th>
            <th><span>Credit Balance</span></th>
            <th><span>Description</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let balanceAccount of balanceAccounts ;trackBy: trackId">
                <td><a [routerLink]="['/balance-account', balanceAccount.id, 'view' ]">{{balanceAccount.id}}</a></td>
                <td>{{balanceAccount.balance}}</td>
                <td>{{balanceAccount.debitBalance}}</td>
                <td>{{balanceAccount.creditBalance}}</td>
                <td>{{balanceAccount.description}}</td>
                <td>
                    <div *ngIf="balanceAccount.user">
                        <a [routerLink]="['../user-app', balanceAccount.user?.id, 'view' ]" >{{balanceAccount.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/balance-account', balanceAccount.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/balance-account', balanceAccount.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'balance-account', { outlets: { popup: balanceAccount.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->
</div>
