<div class="row justify-content-center">
    <div _ngcontent-c5="" class="col-md-6">
        <div _ngcontent-c5="" class="card">
            <div _ngcontent-c5="" class="card-header">
                <h4 _ngcontent-c5="" class="card-title" id="basic-layout-colored-form-control">Participantes</h4>
                <div class="alert alert-success" *ngIf="success">
                    <strong>¡Su registro ha sido exitoso!</strong> Por favor inicie sesión nuevamente.
                </div>
            </div>
            <div _ngcontent-c5="" class="card-body">
                <div _ngcontent-c5="" class="px-3">
                    <form _ngcontent-c5="" class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form"
                          novalidate (ngSubmit)="save()" #editForm="ngForm" *ngIf="!success">
                        <div _ngcontent-c5="" class="form-body">
                            <h4 _ngcontent-c5="" class="form-section">
                                <i _ngcontent-c5="" class="ft-info"></i>
                                Información personal
                            </h4>
                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_beginDate">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input id="field_beginDate" type="text" class="form-control"
                                                   name="beginDate" ngbDatepicker
                                                   #beginDateDp="ngbDatepicker" #beginDateInput="ngModel"
                                                   [(ngModel)]="participant.birthdate"
                                                   required [readonly]="true"/>
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-secondary"
                                                        (click)="beginDateDp.toggle()"><fa-icon
                                                    [icon]="'calendar-alt'"></fa-icon></button>
                                            </span>
                                        </div>
                                        <div
                                            [hidden]="!((beginDateInput?.dirty || beginDateInput?.touched) && beginDateInput?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!beginDateInput?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                        <div
                                            [hidden]="!((beginDateInput?.dirty || beginDateInput?.touched) && beginDateInput?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!beginDateInput?.errors?.max">
                                                La fecha es inválida.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="image">Imagen</label>

                                        <div class="custom-file center-block d-block">
                                            <input type="file" class="form-control-file" id="image"
                                                   (change)="onFileChange($event)"
                                                   accept="image/x-png,image/jpeg" required>
                                        </div>
                                        <small class="form-text text-danger"
                                               *ngIf="!validateImage()">Este campo es requerido.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div _ngcontent-c5="" class="row">
                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_gender">Género</label>
                                        <select _ngcontent-c16="" class="form-control" [(ngModel)]="participant.gender"
                                                id="field_gender" name="gender" required #gender="ngModel">
                                            <option value="MALE">Hombre</option>
                                            <option value="FEMALE">Mujer</option>
                                            <option value="UNDEFINED">Otro</option>
                                        </select>
                                        <div
                                            [hidden]="!((gender?.dirty || gender?.touched) && gender?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!gender?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_civilStatus">Estado civil</label>
                                        <select _ngcontent-c16="" class="form-control"
                                                [(ngModel)]="participant.civilStatus" id="field_civilStatus"
                                                name="civilStatus" required #civil="ngModel">
                                            <option value="MARRIED">Casado/a</option>
                                            <option value="WIDOWED">Viudo/a</option>
                                            <option value="SEPARATED">Separado/a</option>
                                            <option value="DIVORCED">Divorciado/a</option>
                                            <option value="SINGLE">Soltero/a</option>
                                        </select>
                                        <div
                                            [hidden]="!((civil?.dirty || civil?.touched) && civil?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!civil?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<div _ngcontent-c5="" class="form-group">-->
                            <!--&lt;!&ndash;<label _ngcontent-c16=""></label>&ndash;&gt;-->
                            <!--&lt;!&ndash;<input _ngcontent-c16="" class="form-control-file" name="picture" id="field_picture"&ndash;&gt;-->
                            <!--&lt;!&ndash;type="file">&ndash;&gt;-->

                            <!--<label for="imageUpload">Seleccionar imagen</label>-->
                            <!--<input class="form-control-file" type="file" [(ngModel)]="participant.picture" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>-->
                            <!--</div>-->

                            <!--<h4 _ngcontent-c5="" class="form-section">-->
                            <!--<i _ngcontent-c5="" class="ft-mail"></i>-->
                            <!--Categorías de interés-->
                            <!--</h4>-->

                            <!--<div class="form-group">-->
                            <!--<label for="field_category">Categorías</label>-->
                            <!--<select class="form-control" id="field_category" multiple name="category"-->
                            <!--[(ngModel)]="participant.categories">-->
                            <!--<option [ngValue]="getSelected(participant.categories, categoryOption)"-->
                            <!--*ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>-->
                            <!--</select>-->
                            <!--</div>-->

                        </div>
                        <div _ngcontent-c5="" class="row form-actions right">
                            <div class="col-auto">
                                <button _ngcontent-c5="" class="btn btn-raised btn-warning mr-1" type="button"
                                        id="cancel-save" (click)="previousState()">
                                    <i _ngcontent-c5="" class="ft-x"></i>
                                    <fa-icon></fa-icon>
                                    Cancelar
                                </button>
                            </div>
                            <div [ngbPopover]="popoverText"
                                 triggers="mouseenter:mouseleave" popoverTitle="Formulario inválido."
                                 *ngIf="editForm.form.invalid || isSaving || !validateImage(); else validRegisterBtn"
                                 class="col-auto">
                                <button _ngcontent-c5="" class="btn btn-raised btn-primary" type="submit"
                                        id="save-entity" [disabled]="true">
                                    <i _ngcontent-c5="" class="ft ft-file-text"></i>
                                    <fa-icon></fa-icon>
                                    Registrar
                                </button>
                            </div>
                            <ng-template #popoverText>
                                <small class="display-block">Por favor, asegúrese de que todos los campos estén
                                    completos.
                                </small>
                            </ng-template>
                            <ng-template #validRegisterBtn>
                                <div class="col-auto">
                                    <button _ngcontent-c5="" class="btn btn-raised btn-primary" type="submit"
                                            id="save-entity">
                                        <i _ngcontent-c5="" class="ft ft-file-text"></i>
                                        <fa-icon></fa-icon>
                                        Registrar
                                    </button>
                                </div>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
