<div class="row justify-content-center">
    <div _ngcontent-c5="" class="col-md-6">
        <div _ngcontent-c5="" class="card">
            <div _ngcontent-c5="" class="card-header">
                <h4 _ngcontent-c5="" class="card-title" id="basic-layout-colored-form-control">Crear un participante</h4>
            </div>
            <div _ngcontent-c5="" class="card-body">
                <div _ngcontent-c5="" class="px-3">
                    <form _ngcontent-c5="" class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div _ngcontent-c5="" class="form-body">
                            <h4 _ngcontent-c5="" class="form-section">
                                <i _ngcontent-c5="" class="ft-info"></i>
                                Información personal
                            </h4>
                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_birthdate">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input _ngcontent-c5="" class="form-control border-primary"
                                                   id="field_birthdate" name="birthdate" type="text" ngbDatepicker
                                                   #birthdateDp="ngbDatepicker" [(ngModel)]="participant.birthdate"
                                                   required>
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-secondary"
                                                        (click)="birthdateDp.toggle()">
                                                    <fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                            </span>
                                        </div>
                                        <div
                                            [hidden]="!(editForm.controls.birthdate?.dirty && editForm.controls.birthdate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.birthdate?.errors?.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_gender">Género</label>
                                        <select _ngcontent-c16="" class="form-control" [(ngModel)]="participant.gender"
                                                id="field_gender" name="gender" required>
                                            <option value="MALE">MALE</option>
                                            <option value="FEMALE">FEMALE</option>
                                            <option value="UNDEFINED">UNDEFINED</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.gender?.errors?.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_civilStatus">Estado civil</label>
                                        <select _ngcontent-c16="" class="form-control"
                                                [(ngModel)]="participant.civilStatus" id="field_civilStatus"
                                                name="civilStatus" required>
                                            <option value="MARRIED">MARRIED</option>
                                            <option value="WIDOWED">WIDOWED</option>
                                            <option value="SEPARATED">SEPARATED</option>
                                            <option value="DIVORCED">DIVORCED</option>
                                            <option value="SINGLE">SINGLE</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.civilStatus?.dirty && editForm.controls.civilStatus?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.civilStatus?.errors?.required">
                                                This field is required.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="field_user">User</label>
                                        <select class="form-control" id="field_user" name="user" [(ngModel)]="participant.user">
                                            <option [ngValue]="null"></option>
                                            <option [ngValue]="userAppOption.id === participant.user?.id ? participant.user : userAppOption"
                                                    *ngFor="let userAppOption of users; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            <div _ngcontent-c5="" class="form-group">
                                <label _ngcontent-c16="">Seleccionar imagen</label>
                                <input _ngcontent-c16="" class="form-control-file" name="picture" id="field_picture"
                                       [(ngModel)]="participant.picture" type="file">
                            </div>

                            <h4 _ngcontent-c5="" class="form-section">
                                <i _ngcontent-c5="" class="ft-mail"></i>
                                Categorías de interés
                            </h4>

                            <div class="form-group">
                                <label for="field_category">Categorías</label>
                                <select class="form-control" id="field_category" multiple name="category"
                                        [(ngModel)]="participant.categories">
                                    <option [ngValue]="getSelected(participant.categories, categoryOption)"
                                            *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>
                                </select>
                            </div>

                        </div>
                        <div _ngcontent-c5="" class="form-actions right">
                            <button _ngcontent-c5="" class="btn btn-raised btn-warning mr-1" type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                <i _ngcontent-c5="" class="ft-x"></i>
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;Cancel
                            </button>
                            <button _ngcontent-c5="" class="btn btn-raised btn-primary" type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving">
                                <i _ngcontent-c5="" class="fa fa-check-square-o"></i>
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
