<div class="row justify-content-center">
    <div _ngcontent-c5="" class="col-md-6">
        <div _ngcontent-c5="" class="card">
            <div _ngcontent-c5="" class="card-header">
                <h4 _ngcontent-c5="" class="card-title" id="basic-layout-colored-form-control">Crear un participante</h4>
            </div>
            <div _ngcontent-c5="" class="card-body">
                <div _ngcontent-c5="" class="px-3">
                    <form _ngcontent-c5="" class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div _ngcontent-c5="" class="form-body">
                            <h4 _ngcontent-c5="" class="form-section">
                                <i _ngcontent-c5="" class="ft-info"></i>
                                Información personal
                            </h4>
                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_birthdate">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input _ngcontent-c5="" class="form-control"
                                                   id="field_birthdate" name="birthdate" type="text" ngbDatepicker
                                                   #birthdateDp="ngbDatepicker" [(ngModel)]="participant.birthdate"
                                                   required>
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-secondary"
                                                        (click)="birthdateDp.toggle()">
                                                    <fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                            </span>
                                        </div>
                                        <div [hidden]="!(editForm.controls.birthdate?.dirty && editForm.controls.birthdate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.birthdate?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                        <div [hidden]="!(editForm.controls.birthdate?.dirty && editForm.controls.birthdate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.birthdate?.errors?.max">
                                                La fecha es inválida.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_gender">Género</label>
                                        <select _ngcontent-c16="" class="form-control" [(ngModel)]="participant.gender"
                                                id="field_gender" name="gender" required>
                                            <option value="MALE">Hombre</option>
                                            <option value="FEMALE">Mujer</option>
                                            <option value="UNDEFINED">Otro</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.gender?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_civilStatus">Estado civil</label>
                                        <select _ngcontent-c16="" class="form-control"
                                                [(ngModel)]="participant.civilStatus" id="field_civilStatus"
                                                name="civilStatus" required>
                                            <option value="MARRIED">Casado/a</option>
                                            <option value="WIDOWED">Viudo/a</option>
                                            <option value="SEPARATED">Separado/a</option>
                                            <option value="DIVORCED">Divorciado/a</option>
                                            <option value="SINGLE">Soltero/a</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.civilStatus?.dirty && editForm.controls.civilStatus?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.civilStatus?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--<div _ngcontent-c5="" class="form-group">-->
                                <!--&lt;!&ndash;<label _ngcontent-c16=""></label>&ndash;&gt;-->
                                <!--&lt;!&ndash;<input _ngcontent-c16="" class="form-control-file" name="picture" id="field_picture"&ndash;&gt;-->
                                        <!--&lt;!&ndash;type="file">&ndash;&gt;-->

                                <!--<label for="imageUpload">Seleccionar imagen</label>-->
                                <!--<input class="form-control-file" type="file" [(ngModel)]="participant.picture" (change)="fileEvent($event)" name="imageUpload" id="imageUpload"/>-->
                            <!--</div>-->

                            <!--<h4 _ngcontent-c5="" class="form-section">-->
                                <!--<i _ngcontent-c5="" class="ft-mail"></i>-->
                                <!--Categorías de interés-->
                            <!--</h4>-->

                            <!--<div class="form-group">-->
                                <!--<label for="field_category">Categorías</label>-->
                                <!--<select class="form-control" id="field_category" multiple name="category"-->
                                        <!--[(ngModel)]="participant.categories">-->
                                    <!--<option [ngValue]="getSelected(participant.categories, categoryOption)"-->
                                            <!--*ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>-->
                                <!--</select>-->
                            <!--</div>-->

                        </div>
                        <div _ngcontent-c5="" class="form-actions right">
                            <button _ngcontent-c5="" class="btn btn-raised btn-warning mr-1" type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                <i _ngcontent-c5="" class="ft-x"></i>
                                <fa-icon></fa-icon>Cancelar
                            </button>
                            <button _ngcontent-c5="" class="btn btn-raised btn-primary" type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving">
                                <i _ngcontent-c5="" class="fa fa-check-square-o"></i>
                                <fa-icon></fa-icon>Registrar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
