<section _ngcontent-c6="" id="extended">
    <div _ngcontent-c6="" class="row">
        <div _ngcontent-c6="" class="col-sm-12">
            <div _ngcontent-c6="" class="card">
                <div _ngcontent-c6="" class="card-header">
                    <h4 _ngcontent-c6="" class="card-title">
                        Participantes
                    </h4>
                    <jhi-alert></jhi-alert>
                    <br/>
                </div>
                <div _ngcontent-c6="" class="card-body">
                    <div _ngcontent-c6="" class="card-block" *ngIf="participants">
                        <table _ngcontent-c6="" class="table table-responsive-md text-center">
                            <thead _ngcontent-c6="">
                            <tr _ngcontent-c6="">
                                <th><span>Fecha de nacimiento</span></th>
                                <th><span>Género</span></th>
                                <th><span>Estado civil</span></th>
                                <!--<th><span>Imagen</span></th>-->
                                <th><span>Usuario</span></th>
                                <th><span>Acciones</span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody _ngcontent-c6="">

                            <tr *ngFor="let participant of participants ;trackBy: trackId">
                                <td>{{participant.birthdate | date:'mediumDate'}}</td>
                                <td><p *ngIf="participant.gender === 'MALE'">Masculino</p>
                                    <p *ngIf="participant.gender === 'FEMALE'">Femenino</p>
                                    <p *ngIf="participant.gender === 'UNDEFINED'">Otro</p></td>
                                <td><p *ngIf="participant.civilStatus === 'MARRIED'">Casado/a</p>
                                    <p *ngIf="participant.civilStatus === 'WIDOWED'">Viudo/a</p>
                                    <p *ngIf="participant.civilStatus === 'SEPARATED'">Separado/a</p>
                                    <p *ngIf="participant.civilStatus === 'DIVORCED'">Divorciado/a</p>
                                    <p *ngIf="participant.civilStatus === 'SINGLE'">Soltero/a</p></td>
                                <!--<td>{{participant.picture}}</td>-->
                                <td>
                                    <div *ngIf="participant.user">
                                        <a [routerLink]="['../user-app', participant.user?.id, 'view' ]">{{participant.user?.name}}</a>
                                    </div>
                                </td>
                                <!--<td>-->
                                    <!--<span *ngFor="let category of participant.categories; let last = last">-->
                                        <!--<a class="form-control-static" [routerLink]="['../category', category?.id, 'view' ]">{{category.id}}</a>-->
                                        <!--{{last ? '' : ', '}}-->
                                    <!--</span>-->
                                <!--</td>-->
                                <td _ngcontent-c6="">
                                    <a [routerLink]="['/participant', participant.id, 'view' ]" _ngcontent-c6="" class="info p-0" data-original-title="" title="">
                                        <i _ngcontent-c6="" class="ft-eye font-medium-3 mr-2"></i>
                                    </a>
                                    <a [routerLink]="['/participant', participant.id, 'edit']" _ngcontent-c6="" class="success p-0" data-original-title="" title="">
                                        <i _ngcontent-c6="" class="ft-edit-2 font-medium-3 mr-2"></i>
                                    </a>
                                    <a [routerLink]="['/', 'participant', { outlets: { popup: participant.id + '/delete'} }]" _ngcontent-c6="" class="danger p-0" data-original-title="" title="">
                                        <i _ngcontent-c6="" class="ft-x font-medium-3 mr-2"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
