<div class="row justify-content-center">
    <div _ngcontent-c5="" class="col-md-6">
        <div _ngcontent-c5="" class="card">
            <div _ngcontent-c5="" class="card-header">
                <h4 _ngcontent-c5="" class="card-title" id="basic-layout-colored-form-control">Editar información</h4>
            </div>
            <div _ngcontent-c5="" class="card-body">
                <div _ngcontent-c5="" class="px-3">
                    <form _ngcontent-c5="" class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                        <div _ngcontent-c5="" class="form-body">
                            <h4 _ngcontent-c5="" class="form-section">
                                <i _ngcontent-c5="" class="ft-info"></i>
                                Información personal
                            </h4>
                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_birthdate">Fecha de nacimiento</label>
                                        <div class="input-group">
                                            <input _ngcontent-c5="" class="form-control"
                                                   id="field_birthdate" name="birthdate" type="text" ngbDatepicker
                                                   #birthdateDp="ngbDatepicker" [(ngModel)]="participant.birthdate"
                                                   required #birthDate="ngModel">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-secondary"
                                                        (click)="birthdateDp.toggle()">
                                                    <fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                                            </span>
                                        </div>
                                        <div [hidden]="!((birthDate?.dirty || birthDate?.touched) && birthDate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!birthDate?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                        <div [hidden]="!((birthDate?.dirty || birthDate?.touched) && birthDate?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.birthdate?.errors?.max">
                                                La fecha es inválida.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_gender">Género</label>
                                        <select _ngcontent-c16="" class="form-control" [(ngModel)]="participant.gender"
                                                id="field_gender" name="gender" required>
                                            <option value="MALE">Hombre</option>
                                            <option value="FEMALE">Mujer</option>
                                            <option value="UNDEFINED">Otro</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.gender?.dirty && editForm.controls.gender?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.gender?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div _ngcontent-c5="" class="row">

                                <div _ngcontent-c5="" class="col-md-6">
                                    <div _ngcontent-c5="" class="form-group">
                                        <label _ngcontent-c5="" for="field_civilStatus">Estado civil</label>
                                        <select _ngcontent-c16="" class="form-control"
                                                [(ngModel)]="participant.civilStatus" id="field_civilStatus"
                                                name="civilStatus" required>
                                            <option value="MARRIED">Casado/a</option>
                                            <option value="WIDOWED">Viudo/a</option>
                                            <option value="SEPARATED">Separado/a</option>
                                            <option value="DIVORCED">Divorciado/a</option>
                                            <option value="SINGLE">Soltero/a</option>
                                        </select>
                                        <div
                                            [hidden]="!(editForm.controls.civilStatus?.dirty && editForm.controls.civilStatus?.invalid)">
                                            <small class="form-text text-danger"
                                                   [hidden]="!editForm.controls.civilStatus?.errors?.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<h4 _ngcontent-c5="" class="form-section">-->
                                <!--<i _ngcontent-c5="" class="ft-mail"></i>-->
                                <!--Categorías de interés-->
                            <!--</h4>-->

                            <!--<div class="form-group">-->
                                <!--<label for="field_category">Categorías</label>-->
                                <!--<select class="form-control" id="field_category" multiple name="category"-->
                                        <!--[(ngModel)]="participant.categories">-->
                                    <!--<option [ngValue]="getSelected(participant.categories, categoryOption)"-->
                                            <!--*ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.name}}</option>-->
                                <!--</select>-->
                            <!--</div>-->

                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                        (click)="previousState()">
                                    <i class="ft-chevron-left"></i> Atrás
                                </button>
                            </div>
                            <div [ngbPopover]="popoverText"
                                 triggers="mouseenter:mouseleave" popoverTitle="Formulario inválido."
                                 *ngIf="editForm.form.invalid || isSaving; else validRegisterBtn"
                                 class="col-auto">
                                <button type="submit"
                                        [disabled]="true"
                                        class="btn btn-raised btn-primary">
                                    <i class="ft ft-check"></i> Guardar
                                </button>
                            </div>
                            <ng-template #popoverText>
                                <small class="display-block">Por favor, asegúrese de que todos los campos estén completos.
                                </small>
                            </ng-template>
                            <ng-template #validRegisterBtn>
                                <div class="col-auto">
                                    <button type="submit" id="save-entity"
                                            class="btn btn-raised btn-primary">
                                        <i class="ft ft-check"></i> Guardar
                                    </button>
                                </div>
                            </ng-template>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
