<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Recuperar contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>No se encuentra llave de recuperar contraseña.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elige una nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Tu contraseña no se pudo actualizar. Recuerda que la solicitud de recuperar contraseña solo es válido por 24 horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Tu contraseña ha sido actualizada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">inicia sesión</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y su confirmación no concuerdan.
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Nueva contraseña"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Tu contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Tu contraseña debe ser de al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Tu contraseña no puede ser de más de 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmación de la nueva contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirmación nueva contraseña"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                La confirmación de contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                La confirmación de contraseña debe ser de al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                La confirmación de contraseña no puede ser de más de 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-raised btn-primary">Restablecer contraseña</button>
                </form>
            </div>

        </div>
    </div>
</div>
