<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="membership">
            <h2><span>Membership</span> {{membership.id}}</h2>
            <hr>
            <dl class="row-md jh-entity-details">
                <dt><span>Type Membership</span></dt>
                <dd>
                    <span>{{membership.typeMembership}}</span>
                </dd>
                <dt><span>Cost</span></dt>
                <dd>
                    <span>{{membership.cost}}</span>
                </dd>
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{membership.duration}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/membership', membership.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
