<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-test-question-heading">Editar pregunta</h2>
            <div>
                <h4 class="form-section"><i class="ft-info"></i>Información de la pregunta</h4>
                <div class="form-group">
                    <label class="form-control-label" for="field_question">Pregunta</label>
                    <input #floatQuestion="ngModel" type="text" class="form-control" name="question" id="field_question"
                           [(ngModel)]="testQuestion.question" required/>
                    <small class="form-text text-muted danger" *ngIf="!floatQuestion.valid && (floatQuestion.dirty ||
                                 floatQuestion.touched)">¡Pregunta requerida!
                    </small>
                </div>
                <div>
                    <h4 class="form-section"><i class="ft-info"></i>Información de las respuestas</h4>
                </div>
                <div class="form-group" *ngFor="let answer of testQuestion.answers; let i = index">
                    <label class="form-control-label" for="field_answer{{answer.id}}">Respuesta #{{i}}</label>
                    <input #floatAnswer="ngModel" type="text" class="form-control" name="answer{{i}}" id="field_answer{{answer.id}}"
                           [(ngModel)]="answer.answer"/>
                    <small class="form-text text-muted danger" *ngIf="!floatAnswer.valid && (floatAnswer.dirty ||
                                 floatAnswer.touched)">¡Respuesta requerida!
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1" (click)="previousState()">
                    <i class="ft-x"></i>&nbsp;<span> Cancelar</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                        class="btn btn-raised btn-primary">
                    <i class="ft-save"></i>&nbsp;<span> Editar</span>
                </button>
            </div>
        </form>
    </div>
</div>
