<!--Calendar Starts-->
<section id="calendar">
    <div class="card">
        <div class="card-body">
            <div class="card-block">
                <h2 class="content-header"><i class="ft-calendar"></i> Calendario de actividades</h2>
                <hr/>
                <div class="d-flex flex-wrap justify-content-md-between mb-3 no-gutters">
                    <div class="col">
                        <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                            <a class="btn btn-raised btn-primary" mwlCalendarPreviousView [view]="view"
                               [(viewDate)]="viewDate">
                                Anterior
                            </a>
                            <a class="btn btn-raised btn-danger" mwlCalendarToday [(viewDate)]="viewDate">
                                Hoy
                            </a>
                            <a class="btn btn-raised btn-primary" mwlCalendarNextView [view]="view"
                               [(viewDate)]="viewDate">
                                Siguiente
                            </a>
                        </div>
                    </div>
                    <div class="col text-center align-self-center">
                        <h6 class="text-uppercase mb-0">{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h6>
                    </div>
                    <div class="col text-right">
                        <div class="btn-group d-none d-sm-none d-md-none d-lg-block">
                            <a class="btn btn-raised btn-primary" (click)="view = 'month'"
                               [class.active]="view === 'month'">
                                Mes
                            </a>
                            <a class="btn btn-raised btn-primary" (click)="view = 'week'"
                               [class.active]="view === 'week'">
                                Semana
                            </a>
                            <a class="btn btn-raised btn-primary" (click)="view = 'day'"
                               [class.active]="view === 'day'">
                                Día
                            </a>
                        </div>
                    </div>
                </div>

                <div [ngSwitch]="view">
                    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events"
                                             [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                                             (dayClicked)="dayClicked($event.day)"
                                             (eventClicked)="handleEvent('Clicked', $event.event)"
                                             (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events"
                                            [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                            (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-week-view>
                    <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events"
                                           [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                           (eventTimesChanged)="eventTimesChanged($event)">
                    </mwl-calendar-day-view>
                </div>
            </div>
        </div>
    </div>
</section>
