<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div *ngIf="userApp">
                                <h4 class="text-bold-500 primary"><i class="ft-user"></i> Información de usuario</h4>
                                <hr>
                                <div class="card-block">
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-edit-3"></i> Nombre de usuario</span>
                                        <span class="display-block overflow-hidden">{{userApp.user?.login}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-user"></i> Nombre</span>
                                        <span class="display-block overflow-hidden">{{userApp.name}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-hash"></i> Numero de identificación</span>
                                        <span
                                            class="display-block overflow-hidden">{{userApp.identificationNumber}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-at-sign"></i> Correo electrónico</span>
                                        <span class="display-block overflow-hidden">{{userApp.mail}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-globe"></i> Dirección</span>
                                        <span class="display-block overflow-hidden">{{userApp.address}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary">Tipo de usuario</span>
                                        <span class="display-block overflow-hidden">{{userApp.rol}}</span>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-raised btn-info mr-1"
                                        (click)="previousState()">
                                    <i class="ft-chevron-left"></i> Atrás
                                </button>
                                <button type="button" [routerLink]="['/user-app', userApp.id, 'edit']"
                                        class="btn btn-raised btn-success">
                                    <i class="ft-edit"></i> Modificar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
