<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="card gradient-indigo-purple text-center width-700">
                        <div class="card-body">
                            <div class="card-block">
                                <h2 class="white">Ingrese su código de grupo</h2>
                                <hr/>
                                <form role="form" (ngSubmit)="login()">

                                    <div class="alert alert-warning" *ngIf="authenticationError">
                                        <strong>¡Fallo al autentificar el código!</strong> Por favor revise sus credenciales y
                                        vuelva a intentar.
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="code" id="code"
                                                   placeholder="Código de grupo" required [(ngModel)]="code" [(ngModel)]="password" [(ngModel)]="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <button [disabled]="code === undefined" type="submit" class="btn btn-pink btn-block btn-raised">Confirmar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
