<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <div class="row justify-content-md-center"></div>
            <h2 id="jhi-focus-group-heading">Grupo de enfoque</h2>
            <div>
                <h4 class="form-section"><i class="ft-info"></i>Información</h4>
                <div class="row">
                    <div class="col-sm-8 col-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Nombre</label>
                            <input #floatName="ngModel" type="text" class="form-control" name="name" id="field_name"
                                   [(ngModel)]="focusGroup.name" required/>
                            <small class="form-text text-muted danger" *ngIf="!floatName.valid && (floatName.dirty ||
                                 floatName.touched)">Este campo es requerido.
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 col-md-12 col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Cantidad de participantes</label>
                            <input #floatAmount="ngModel" type="number" class="form-control" name="participantsAmount" id="field_amount"
                                   [(ngModel)]="focusGroup.participantsAmount" required/>
                            <small class="form-text text-muted danger" *ngIf="!floatAmount.valid && (floatAmount.dirty ||
                                 floatAmount.touched)">Este campo es requerido.
                            </small>
                            <small class="form-text text-muted danger" *ngIf="!validateParticipantsAmount()">
                                La cantidad tiene que ser un numero entero mayor a 5 y menor o igual a 10.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Descripción</label>
                    <textarea #floatDescription="ngModel" type="text" class="form-control" name="description"
                              id="field_description" [ngModelOptions]="{updateOn: 'blur'}"
                              [(ngModel)]="focusGroup.description" required></textarea>
                    <small class="form-text text-muted danger" *ngIf="!floatDescription.valid && (floatDescription.dirty ||
                                 floatDescription.touched)">Este campo es requerido.
                    </small>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label class="form-control-label" for="field_beginDate">Fecha de inicio estimada</label>
                        <div class="input-group">
                            <input #floatStartDate="ngModel" id="field_beginDate" type="text" class="form-control"
                                   name="beginDate" ngbDatepicker
                                   #beginDateDp="ngbDatepicker" [(ngModel)]="focusGroup.beginDate"
                                   required [readonly]="true"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="beginDateDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!floatStartDate.valid && (floatStartDate.dirty ||
                                 floatStartDate.touched)">Este campo es requerido.
                        </small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label class="form-control-label" for="field_endDate">Fecha de finalización estimada</label>
                        <div class="input-group">
                            <input #floatEndDate="ngModel" id="field_endDate" type="text" class="form-control"
                                   name="endDate" ngbDatepicker (change)="endDateSelected = true"
                                   #endDateDp="ngbDatepicker" [(ngModel)]="focusGroup.endDate"
                                   required [readonly]="true"/>
                            <span class="input-group-append">
                                <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon
                                    [icon]="'calendar-alt'"></fa-icon></button>
                            </span>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!floatEndDate.valid && (floatEndDate.dirty ||
                                 floatEndDate.touched)">Este campo es requerido.
                        </small>
                        <small class="form-text text-muted danger" *ngIf="!floatEndDate.valid && (floatEndDate.dirty ||
                                 floatEndDate.touched) || !validEndDate()">
                            La fecha de finalización tiene que ser posterior a la fecha inicial.
                        </small>
                    </div>
                </div>
                <h4 class="form-section"><i class="ft-clipboard"></i>Prueba de aptitud</h4>
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <fieldset class="form-group">
                        <label for="customSelect">Pruebas de aptitud</label>
                        <select [(ngModel)]="focusGroup.aptitudeTest" class="custom-select d-block w-100"
                                id="customSelect" name="aptitudeTest" (change)="validateTest()">
                            <option [ngValue]="null">No utilizar prueba de aptitud.</option>
                            <option *ngFor="let aptitudeTest of aptitudeTests"
                                    [ngValue]="aptitudeTest">{{aptitudeTest.name}}</option>
                        </select>
                    </fieldset>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div *ngIf="focusGroup.aptitudeTest" class="form-group">
                        <label class="form-control-label" for="field-grade">Nota mínima para participar</label>
                        <input #floatGrade="ngModel" type="number" class="form-control"
                               name="passing_grade" id="field-grade" maxlength="3"
                               [(ngModel)]="focusGroup.passingGrade" required/>
                        <small class="display-inline-block form-text text-muted danger" *ngIf="!floatGrade.valid && (floatGrade.dirty ||
                                 floatGrade.touched)">Este campo es requerido.
                        </small>
                        <small class="display-inline-block form-text text-muted danger" *ngIf="!validatePassingGrade()">
                            La nota tiene que ser un número positivo mayor que 0 y menor o igual a 100.
                        </small>
                    </div>
                </div>
                <div *ngIf="focusGroup.aptitudeTest" id="questionCardSection" class="row">
                    <h5 class="col-12 col-md-12 col-sm-12"><i class="ft-clipboard"></i> Preguntas</h5>
                    <hr>
                    <div class="card-block col-12">
                        <div id="question{{questionInd}}" class="card bg-blue-grey bg-lighten-5"
                             *ngFor="let question of focusGroup.aptitudeTest.questions; let questionInd = index">
                            <div class="card-header">
                                <span class="text-bold-500 primary">¿{{question.question}}?</span>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <div *ngFor="let answer of question.answers;"
                                         class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="answer{{answer.id}}"
                                               name="desiredAnswerRadio{{question.id}}" class="custom-control-input"
                                               (change)="desiredAnswer(question, answer)">
                                        <label class="custom-control-label" for="answer{{answer.id}}"><span
                                            class="display-block"><i
                                            class="ft-minus"></i> {{answer.answer}}</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h4 class="form-section"></h4>
            <div class="row">
                <div class="col-auto">
                    <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                            (click)="previousState()">
                        <i class="ft-x"></i>&nbsp;<span> Cancelar</span>
                    </button>
                </div>
                <div
                    *ngIf="editForm.form.invalid || isSaving || !validateAnswers() || !validEndDate() ||
                     !validatePassingGrade() || !validateParticipantsAmount(); else validEditBtn"
                    [ngbPopover]="popoverText"
                    triggers="mouseenter:mouseleave" popoverTitle="Formulario inválido." class="col-auto">
                    <button type="submit" id="save-entity-invalid" [disabled]="true"
                            class="btn btn-raised btn-primary">
                        <i class="ft-save"></i>&nbsp;<span> Guardar</span>
                    </button>
                </div>
                <ng-template #popoverText>
                    <small class="display-block">Por favor, asegúrese de que todos los campos estén completos.</small>
                    <small>Si está usando una prueba de aptitud, necesita asignar una nota mínima y marcar la respuesta
                        deseada de cada
                        pregunta.
                    </small>
                </ng-template>
                <ng-template #validEditBtn>
                    <div class="col-auto">
                        <button type="submit" id="save-entity-valid"
                                class="btn btn-raised btn-primary">
                            <i class="ft-save"></i>&nbsp;<span> Guardar</span>
                        </button>
                    </div>
                </ng-template>
            </div>
        </form>
    </div>
</div>
