<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-focus-group-heading">Edición de grupos de enfoque</h2>
            <div>
                <!--<jhi-alert-error></jhi-alert-error>-->
                <h4 class="form-section"><i class="ft-users"></i>Información</h4>
                <div class="form-group" [hidden]="true">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="focusGroup.id" readonly/>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-8 col-md-8 col-lg-8">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Nombre</label>
                            <input #floatName="ngModel" type="text" class="form-control" name="name" id="field_name"
                                   [(ngModel)]="focusGroup.name" required/>
                            <small class="form-text text-muted danger" *ngIf="!floatName.valid && (floatName.dirty ||
                                 floatName.touched)">Este campo es requerido.
                            </small>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 col-md-12 col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Cantidad de participantes</label>
                            <input #floatAmount="ngModel" type="number" class="form-control" name="participantsAmount" id="field_amount"
                                   [(ngModel)]="focusGroup.participantsAmount" required/>
                            <small class="form-text text-muted danger" *ngIf="!floatAmount.valid && (floatAmount.dirty ||
                                 floatAmount.touched)">Este campo es requerido.
                            </small>
                            <small class="form-text text-muted danger" *ngIf="!validateParticipantsAmount()">
                                La cantidad tiene que ser un numero entero mayor a 5 y menor o igual a 10.
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Descripción</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           [(ngModel)]="focusGroup.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.description?.errors?.required">
                            ¡Descripción requerida!
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label class="form-control-label" for="field_beginDate">Fecha de inicio estimada</label>
                        <div class="input-group">
                            <input #floatBeginDate="ngModel" id="field_beginDate" type="text" class="form-control"
                                   name="beginDate" ngbDatepicker
                                   #beginDateDp="ngbDatepicker" [(ngModel)]="focusGroup.beginDate"
                                   required [readonly]="true"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="beginDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!floatBeginDate.valid && (floatEndDate.dirty ||
                                 floatEndDate.touched)">¡Fecha de finalización requerida!
                        </small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label class="form-control-label" for="field_endDate">Fecha de finalización estimada</label>
                        <div class="input-group">
                            <input #floatEndDate="ngModel" id="field_endDate" type="text" class="form-control"
                                   name="endDate" ngbDatepicker
                                   #endDateDp="ngbDatepicker" [(ngModel)]="focusGroup.endDate"
                                   required [readonly]="true"/>
                            <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><fa-icon
                                [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                        </div>
                        <small class="form-text text-muted danger" *ngIf="!floatEndDate.valid && (floatEndDate.dirty ||
                                 floatEndDate.touched)">¡Fecha de finalización requerida!
                        </small>
                        <small class="form-text text-muted danger" *ngIf="!validEndDate()">
                            La fecha de finalización tiene que ser posterior a la fecha inicial.
                        </small>
                    </div>

                    <div class="form-group" [hidden]="true">
                        <label class="form-control-label" for="field_code">Code</label>
                        <input type="text" class="form-control" name="code" id="field_code"
                               [(ngModel)]="focusGroup.code"/>
                    </div>

                    <div class="form-group" [hidden]="true">
                        <label class="form-control-label" for="field_incentive">Incentive</label>
                        <select class="form-control" id="field_incentive" name="incentive"
                                [(ngModel)]="focusGroup.incentive">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="incentiveOption.id === focusGroup.incentive?.id ? focusGroup.incentive : incentiveOption"
                                *ngFor="let incentiveOption of incentives; trackBy: trackIncentiveById">{{incentiveOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group" [hidden]="true">
                        <label class="form-control-label" for="field_institution">Institution</label>
                        <select class="form-control" id="field_institution" name="institution"
                                [(ngModel)]="focusGroup.institution">
                            <option [ngValue]="null"></option>
                            <option
                                [ngValue]="institutionOption.id === focusGroup.institution?.id ? focusGroup.institution : institutionOption"
                                *ngFor="let institutionOption of institutions; trackBy: trackInstitutionById">{{institutionOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group" [hidden]="true">
                        <label for="field_category">Category</label>
                        <select class="form-control" id="field_category" multiple name="category"
                                [(ngModel)]="focusGroup.categories">
                            <option [ngValue]="getSelected(focusGroup.categories, categoryOption)"
                                    *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                        </select>
                    </div>
                    <div class="form-group" [hidden]="true">
                        <label for="field_participant">Participant</label>
                        <select class="form-control" id="field_participant" multiple name="participant"
                                [(ngModel)]="focusGroup.participants">
                            <option [ngValue]="getSelected(focusGroup.participants, participantOption)"
                                    *ngFor="let participantOption of participants; trackBy: trackParticipantById">{{participantOption.id}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                (click)="previousState()">
                            <i class="ft-x"></i>&nbsp;<span> Cancelar</span>
                        </button>
                    </div>
                    <div *ngIf="editForm.form.invalid || isSaving || !validEndDate(); else validEditBtn"
                         ngbPopover="Por favor, asegúrese de que todos los campos estén completos."
                         triggers="mouseenter:mouseleave" popoverTitle="Formulario invalido." class="col-auto">
                        <button type="submit" id="save-entity-invalid" [disabled]="true"
                                class="btn btn-raised btn-primary">
                            <i class="ft-save"></i>&nbsp;<span> Editar</span>
                        </button>
                    </div>
                    <ng-template #validEditBtn>
                        <div class="col-auto">
                            <button type="submit" id="save-entity-valid"
                                    class="btn btn-raised btn-primary">
                                <i class="ft-save"></i>&nbsp;<span> Editar</span>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </form>
    </div>
</div>
