<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="card text-center width-700">
                        <div class="card-body">
                            <div class="card-block">
                                <h2 class="">Ingrese su código de grupo</h2>
                                <hr/>
                                <div *ngIf="authenticationError===true">
                                    <div id="dangerErrorAlert" #dangerErrorAlert class="popupunder alert alert-dismissible custom-alert-danger">
                                        <button type="button" data-dismiss="alert" class="close" (click)="closeMe(dangerErrorAlert)">×</button>
                                        <span class="ft-x"></span> <strong>¡Error!</strong>
                                        <hr class="message-inner-separator" style="background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));">
                                        <p>¡Fallo al autentificar el código! Por favor asegúrese de que el código sea el correcto.</p>
                                    </div>
                                </div>
                                <form role="form" (ngSubmit)="login()">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" name="code" id="code"
                                                   placeholder="Código de grupo" required [(ngModel)]="code" [(ngModel)]="password" [(ngModel)]="username">
                                        </div>
                                    </div>
                                    <div [ngbPopover]="popoverText"
                                         triggers="mouseenter:mouseleave" popoverTitle="Código inválido."
                                         *ngIf="code === undefined; else validRegisterBtn"
                                         class="col-md-12">
                                        <button type="submit"
                                                [disabled]="true"
                                                class="btn btn-primary btn-block btn-raised">Confirmar
                                        </button>
                                    </div>
                                    <ng-template #popoverText>
                                        <small class="display-block">Por favor, asegúrese de ingresar un código.
                                        </small>
                                    </ng-template>
                                    <ng-template #validRegisterBtn>
                                        <div class="col-md-12">
                                            <button type="submit"
                                                    class="btn btn-primary btn-block btn-raised">Confirmar
                                            </button>
                                        </div>
                                    </ng-template>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
