<div class="row justify-content-center">
    <div class="col-8 card">
        <div class="card-header row">
            <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12">
                <h2>Grupo de enfoque - {{focusGroup.name}}</h2>
            </div>
        </div>
        <hr>
        <div class="card-body">
            <div class="card-block row justify-content-between">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="">
                        <span class="text-bold-500 primary display-block">Descripción:</span>
                        <span>{{focusGroup.description}}</span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12">
                    <div id="codeCard" class="card bg-primary">
                        <div class="card-body col-12">
                            <div class="px-3 py-3">
                                <div class="media">
                                    <div class="media-left align-self-center">
                                        <i class="ft-clipboard white font-large-1 float-left"></i>
                                    </div>
                                    <div class="media-body white text-right">
                                        <span class="text-bold-500 display-block">Código del grupo</span>
                                        <span>{{focusGroup.code}}<!-- Haga click para copiar.--></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <span class="text-bold-500 primary display-block">Fecha de inicio:</span>
                <span>{{focusGroup.beginDate | date:'longDate'}}</span>
            </div>
            <div class="card-block">
                <span class="text-bold-500 primary display-block">Fecha de finalización:</span>
                <span>{{focusGroup.endDate | date:'longDate'}}</span>
            </div>
            <div class="card-block">
                <span class="text-bold-500 primary display-block">Incentivo:</span>
                <span *ngIf="focusGroup.incentive; else noIncentive">{{focusGroup.incentive}}</span>
                <ng-template #noIncentive>
                    <span>No hay incentivos seleccionados.</span>
                </ng-template>
            </div>
            <div class="card-block">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-raised btn-warning mr-1">
                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Volver</span>
                </button>

                <button type="button"
                        [routerLink]="['/focus-group', focusGroup.id, 'edit']"
                        class="btn btn-raised btn-primary">
                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
                </button>
            </div>
        </div>
    </div>
</div>
