<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Grupo de enfoque
                </h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="table-responsive" *ngIf="focusGroups">
                        <table class="table table-responsive-md text-center">
                            <thead>
                            <tr>
                                <th><span></span></th>
                                <th><span>Nombre</span></th>
                                <th><span>Descripción</span></th>
                                <th><span>Fecha de inicio</span></th>
                                <th><span>Fecha de finalizacion</span></th>
                                <th><span>Código</span></th>
                                <th><span>Acciones</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let focusGroup of focusGroups ;trackBy: trackId">
                                <td>
                                    <div class="custom-control custom-checkbox m-0">
                                        <input type="checkbox" class="custom-control-input" id="{{focusGroup.id}}">
                                        <label class="custom-control-label" for="{{focusGroup.id}}"></label>
                                    </div>
                                </td>
                                <td>{{focusGroup.name}}</td>
                                <td>{{focusGroup.description}}</td>
                                <td>{{focusGroup.beginDate | date:'mediumDate'}}</td>
                                <td>{{focusGroup.endDate | date:'mediumDate'}}</td>
                                <td>{{focusGroup.code}}</td>
                                <td>
                                    <button id="btn-{{focusGroup.id}}" class="btn btn-raised btn-primary float-right"
                                            (click)="askParticipation(focusGroup.id,modalToDisplay)"><i
                                        class="ft-plus"></i><span>Participar</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalToDisplay let-c="close" let-d="dismiss">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title" id="jhi-institution-heading">{{focusGroup.aptitudeTest.name}}</h2>
        </div>
        <div class="card-body">
            <div class="px-3">
                <form class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate
                      #editForm>
                    <div class="form-body">
                        <div *ngFor="let testQuestion of testQuestions">
                            <h4 class="form-section"><i class="ft-feather"></i>{{testQuestion.question}}</h4>
                            <div class="form-group">
                                <div class="custom-control custom-radio custom-control-inline"
                                     *ngFor="let testAnswerOption of testQuestion.answers">
                                    <input type="radio" id="answer{{testAnswerOption.id}}" name="{{testQuestion.id}}" class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="answer{{testAnswerOption.id}}"><span><i class="ft-minus"></i>{{testAnswerOption.answer}}</span></label><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                (click)="d('Force cancel')">
                            <i class="ft-x"></i> Cancelar
                        </button>
                        <button class="btn btn-raised btn-primary" type="submit" id="save-entity"
                                (click)="sendAptitudeTestAnswers(editForm); d('Force cancel')">
                            <i class="ft ft-file-text"></i> Finalizar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</ng-template>
