<div class="card">
    <div class="card-header">
        <h2 class="card-title" id="jhi-institution-heading">Instituciones</h2>
    </div>
    <div class="card-body">
        <div class="px-3">
            <form class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate
                  (ngSubmit)="save()" #editForm="ngForm">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user"></i>Modificado</h4>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group" [hidden]="!institution.id">
                                <label for="id">ID</label>
                                <input type="text" class="form-control" id="id" name="id"
                                       [(ngModel)]="institution.id" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="field_name">Nombre de la institución</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                       [(ngModel)]="institution.name" required #floatName="ngModel"/>
                                <small class="form-text text-muted danger" *ngIf="!floatName.valid && (floatName.dirty ||
                                 floatName.touched)">¡Nombre requerido!
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <textarea type="text" class="form-control" name="description" id="field_description"
                                          [(ngModel)]="institution.description" required #floatDescription="ngModel"
                                          [ngModelOptions]="{updateOn: 'blur'}"></textarea>
                                <small class="form-text text-muted danger" *ngIf="!floatDescription.valid &&
                                (floatDescription.dirty || floatDescription.touched)">¡Descripción requerida!
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_logo">Logo</label>
                                <input type="text" class="form-control" name="logo" id="field_logo"
                                       [(ngModel)]="institution.logo" required #floatLogo="ngModel"/>
                                <small class="form-text text-muted danger" *ngIf="!floatLogo.valid && (floatLogo.dirty ||
                                 floatLogo.touched)">¡Logo requerido!
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_telephone">Teléfono</label>
                                <input type="text" class="form-control" name="telephone" id="field_telephone"
                                       [(ngModel)]="institution.telephone" required #floatTelephone="ngModel"/>
                                <small class="form-text text-muted danger" *ngIf="!floatTelephone.valid && (floatTelephone.dirty ||
                                 floatTelephone.touched)">¡Telefono requerido!
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_user">Usuario</label>
                                <select class="form-control" id="field_user" name="user" [(ngModel)]="institution.user">
                                    <option [ngValue]="null"></option>
                                    <option
                                        [ngValue]="userAppOption.id === institution.user?.id ? institution.user : userAppOption"
                                        *ngFor="let userAppOption of users; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_membership">Membresía</label>
                                <select class="form-control" id="field_membership" name="membership"
                                        [(ngModel)]="institution.membership">
                                    <option [ngValue]="null"></option>
                                    <option
                                        [ngValue]="membershipOption.id === institution.membership?.id ? institution.membership : membershipOption"
                                        *ngFor="let membershipOption of memberships; trackBy: trackMembershipById">{{membershipOption.id}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                    (click)="previousState()">
                                <i class="ft-x"></i> Cancelar
                            </button>
                            <button class="btn btn-raised btn-primary" type="submit" id="save-entity"
                                    [disabled]="editForm.form.invalid || isSaving">
                                <i class="ft ft-file-text"></i> Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title" id="basic-layout-form-center">Usuario</h4>

                <div class="alert alert-success" *ngIf="success">
                    <strong>Su registro ha sido exitoso!</strong> Por favor revise su correo para verificar su cuenta.
                </div>

                <div class="alert alert-danger" *ngIf="error">
                    <strong>Registro fallido!</strong> Por favor intente de nuevo.
                </div>

                <div class="alert alert-danger" *ngIf="errorUserExists">
                    <strong>El nombre de usuario ya se encuentra registrado!</strong> Por favor utilice otro.
                </div>

                <div class="alert alert-danger" *ngIf="errorEmailExists">
                    <strong>El correo electronico ya se encuentra en uso!</strong> Por favor utilice otro.
                </div>

                <div class="alert alert-danger" *ngIf="doNotMatch">
                    La contraseña y la confirmacion no concuerdan!
                </div>
            </div>
            <div class="card-body">
                <div class="px-3">
                    <form class="form" name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm"
                          *ngIf="!success">
                        <div class="row justify-content-md-center">
                            <div class="col-md-6">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>Registro</h4>
                                    <jhi-alert-error></jhi-alert-error>
                                    <div class="form-group">
                                        <label for="login"><i class="ft-edit-3"></i> Nombre de usuario</label>
                                        <input type="text" class="form-control" [(ngModel)]="registerAccount.login"
                                               id="login" name="login" #login="ngModel" placeholder="Nombre de usuario"
                                               required minlength="1" maxlength="50">
                                        <div *ngIf="login.dirty && login.invalid">
                                            <small class="form-text text-danger" *ngIf="login.errors.required">
                                                Este campo es requerido.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="login.errors.minlength"
                                            >
                                                Su nombre de usuario debe tener al menos 1 caracter de largo.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                                            >
                                                Su nombre de usuario no debe tener mas de 50 caracteres de largo.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="name"><i class="ft-user"></i> Nombre</label>
                                        <input type="text" class="form-control" [(ngModel)]="userApp.name" id="name"
                                               name="name" placeholder="Nombre"
                                               required>
                                        <div *ngIf="login.dirty && login.invalid">
                                            <small class="form-text text-danger" *ngIf="login.errors.required">
                                                Este campo es requerido.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="identification"><i class="ft-hash"></i> Número de
                                            identificación</label>
                                        <input type="text" class="form-control"
                                               [(ngModel)]="userApp.identificationNumber" id="identification"
                                               name="login" #login="ngModel" placeholder="Número de identificación"
                                               required minlength="1" maxlength="200">
                                        <div *ngIf="login.dirty && login.invalid">
                                            <small class="form-text text-danger" *ngIf="login.errors.required">
                                                Este campo es requerido.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="login.errors.minlength"
                                            >
                                                Su número de identificación debe tener al menos 1 caracter de largo.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                                            >
                                                Su número de identificación no debe tener mas de 50 caracteres de largo.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="email"><i class="ft-at-sign"></i> Correo electronico</label>
                                        <input type="email" class="form-control" id="email" name="email"
                                               #email="ngModel" placeholder="ejemplo@correo.com"
                                               [(ngModel)]="userApp.mail" [(ngModel)]="registerAccount.email"
                                               minlength=5 maxlength=254 email required>
                                        <div *ngIf="email.dirty && email.invalid">
                                            <small class="form-text text-danger" *ngIf="email.errors.required"
                                            >
                                                Este campo es requerido.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.invalid"
                                            >
                                                Este correo es invalido.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.minlength"
                                            >
                                                Su correo debe tener al menos 5 caracteres de largo.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                                            >
                                                Su correo no debe tener mas de 100 caracteres de largo.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="address"><i class="ft-globe"></i> Dirección</label>
                                        <input type="text" class="form-control" [(ngModel)]="userApp.address"
                                               id="address" name="address" #login="ngModel" placeholder="Dirección">
                                    </div>

                                    <div class="form-group">
                                        <label for="password"><i class="ft-lock"></i> Contraseña</label>
                                        <input type="password" class="form-control" id="password" name="password"
                                               #password="ngModel" placeholder="Contraseña"
                                               [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                                        <div *ngIf="password.dirty && password.invalid">
                                            <small class="form-text text-danger" *ngIf="password.errors.required"
                                            >
                                                Este campo es requerido.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="password.errors.minlength"
                                            >
                                                Su contraseña debe tener al menos 4 caracteres de largo.
                                            </small>
                                            <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                                            >
                                                Su contraseña no debe tener mas de 50 caracteres de largo.
                                            </small>
                                        </div>
                                        <p></p>
                                        <label>Fortaleza:</label>

                                        <jhi-password-strength-bar
                                            [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirmPassword"><i class="ft-lock"></i> Confirmar
                                            contraseña</label>
                                        <input type="password" class="form-control" id="confirmPassword"
                                               name="confirmPassword" #confirmPasswordInput="ngModel"
                                               placeholder="Confirmar contraseña"
                                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                                            <small class="form-text text-danger"
                                                   *ngIf="confirmPasswordInput.errors.required"
                                            >
                                                Este campo es requerido.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="confirmPasswordInput.errors.minlength"
                                            >
                                                Su contraseña de confirmación debe tener al menos 4 caracteres de largo.
                                            </small>
                                            <small class="form-text text-danger"
                                                   *ngIf="confirmPasswordInput.errors.maxlength"
                                            >
                                                Su contraseña de confirmación no debe tener mas de 50 caracteres de largo.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Que tipo de usuario desea ser?</label>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline1" value="institution"
                                                   name="customRadioInline1" class="custom-control-input"
                                                   (change)="setRole('institution')">
                                            <label class="custom-control-label"
                                                   for="customRadioInline1">Institución</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="customRadioInline2" value="participant"
                                                   name="customRadioInline1" class="custom-control-input"
                                                   (change)="setRole('participant')">
                                            <label class="custom-control-label"
                                                   for="customRadioInline2">Participante</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions center">
                            <button type="button" class="btn btn-raised btn-warning mr-1">
                                <i class="ft-x"></i> Atras
                            </button>
                            <button type="submit" [disabled]="userApp.rol === ''" [disabled]="registerForm.form.invalid"
                                    class="btn btn-raised btn-primary">
                                <i class="ft-check"></i> Confirmar
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>


