<div class="card">
    <div class="card-header">
    </div>
    <div class="card-body">
        <div class="px-3">
            <form class="form ng-untouched ng-pristine ng-valid" name="editForm" role="form" novalidate
                  (ngSubmit)="save()" #editForm="ngForm">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <h2 class="card-title" id="jhi-institution-heading">Editar información</h2>
                        <div class="form-body">
                            <h4 class="form-section"><i class="ft-user"></i>Información personal</h4>
                            <jhi-alert-error></jhi-alert-error>
                            <div class="form-group">
                                <label for="field_name">Nombre de la institución</label>
                                <input type="text" class="form-control" name="name" id="field_name"
                                       [(ngModel)]="institution.name" required #floatName="ngModel"/>
                                <small class="form-text text-muted danger" *ngIf="!floatName.valid && (floatName.dirty ||
                                 floatName.touched)">Este campo es requerido.
                                </small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label" for="field_description">Descripción</label>
                                <textarea type="text" class="form-control" name="description" id="field_description"
                                          [(ngModel)]="institution.description" required #floatDescription="ngModel"
                                          [ngModelOptions]="{updateOn: 'blur'}"></textarea>
                                <small class="form-text text-muted danger" *ngIf="!floatDescription.valid &&
                                (floatDescription.dirty || floatDescription.touched)">Este campo es requerido.
                                </small>
                            </div>
                            <!--<div class="form-group">
                                <label class="form-control-label" for="field_logo">Logo</label>
                                <input type="text" class="form-control" name="logo" id="field_logo"
                                       [(ngModel)]="institution.logo" required #floatLogo="ngModel"/>
                                <small class="form-text text-muted danger" *ngIf="!floatLogo.valid && (floatLogo.dirty ||
                                 floatLogo.touched)">¡Logo requerido!
                                </small>
                            </div>-->
                            <div class="form-group">
                                <label class="form-control-label" for="field_telephone">Teléfono</label>
                                <input type="text" class="form-control" name="telephone" id="field_telephone"
                                       [(ngModel)]="institution.telephone" required #floatTelephone="ngModel" minlength="7"/>
                                <div class="form-text text-muted danger" *ngIf="(floatTelephone.dirty || floatTelephone.touched) && floatTelephone.invalid">
                                    <small class="form-text text-muted danger" *ngIf="floatTelephone.errors.required">
                                        Este campo es requerido.
                                    </small>
                                    <small class="form-text text-danger" *ngIf="floatTelephone.errors.minlength">
                                        Tu teléfono debe tener al menos 7 caracteres de largo.
                                    </small>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <label class="form-control-label" for="field_user">Usuario</label>
                                <select class="form-control" id="field_user" name="user" [(ngModel)]="institution.user">
                                    <option [ngValue]="null"></option>
                                    <option
                                        [ngValue]="userAppOption.id === institution.user?.id ? institution.user : userAppOption"
                                        *ngFor="let userAppOption of users; trackBy: trackUserAppById">{{userAppOption.id}}</option>
                                </select>
                            </div>-->
                            <!--<div class="form-group">
                                <label class="form-control-label" for="field_membership">Membresía</label>
                                <select class="form-control" id="field_membership" name="membership"
                                        [(ngModel)]="institution.membership">
                                    <option [ngValue]="null"></option>
                                    <option
                                        [ngValue]="membershipOption.id === institution.membership?.id ? institution.membership : membershipOption"
                                        *ngFor="let membershipOption of memberships; trackBy: trackMembershipById">{{membershipOption.id}}</option>
                                </select>
                            </div>-->
                        </div>
                        <div class="row">
                            <div class="col-auto">
                                <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                        (click)="previousState()">
                                    <i class="ft-chevron-left"></i> Atrás
                                </button>
                            </div>
                            <div [ngbPopover]="popoverText"
                                 triggers="mouseenter:mouseleave" popoverTitle="Formulario inválido."
                                 *ngIf="editForm.form.invalid || isSaving; else validRegisterBtn"
                                 class="col-auto">
                                <button type="submit"
                                        [disabled]="true"
                                        class="btn btn-raised btn-primary">
                                    <i class="ft ft-check"></i> Guardar
                                </button>
                            </div>
                            <ng-template #popoverText>
                                <small class="display-block">Por favor, asegúrese de que todos los campos estén completos.
                                </small>
                            </ng-template>
                            <ng-template #validRegisterBtn>
                                <div class="col-auto">
                                    <button type="submit" id="save-entity"
                                            class="btn btn-raised btn-primary">
                                        <i class="ft ft-check"></i> Guardar
                                    </button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
