<div class="row justify-content-center">
    <div class="card col-8">
        <div class="card-header">
            <h3 class="col-12 col-md-12 col-sm-12">{{aptitudeTest.name}}</h3>
            <hr>
        </div>
        <div class="card-body">
            <div class="card-block">
                <div class="row">
                    <h5 class="col-12 col-md-12 col-sm-12"><i class="ft-info"></i> Información</h5>
                    <div class="col-12 col-md-6 col-lg-4">
                        <ul class="no-list-style">
                            <li class="mb-2">
                                <span class="text-bold-500 primary"><a><i class="ft-calendar font-small-3"></i> Fecha de creación:</a></span>
                                <span
                                    class="display-block overflow-hidden">{{aptitudeTest.createdDate | date:'longDate'}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="questionCardSection" class="row">
                    <h5 class="col-12 col-md-12 col-sm-12"><i class="ft-clipboard"></i> Preguntas</h5>
                    <hr>
                    <div class="card-block col-12">
                        <div id="question{{i}}" class="card bg-blue-grey bg-lighten-5"
                             *ngFor="let question of aptitudeTest.questions; let i = index">
                            <div class="card-header">
                                <span class="text-bold-500 primary">¿{{question.question}}?</span>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                    <div class="card-block">
                                            <span *ngFor="let answer of question.answers" class="display-block"><i
                                                class="ft-minus"></i>{{answer.answer}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <button type="submit"
                            (click)="previousState()"
                            class="btn btn-raised btn-warning mr-1">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Volver</span>
                    </button>

                    <button type="button"
                            [routerLink]="['/aptitude-test', aptitudeTest.id, 'edit']"
                            class="btn btn-raised btn-primary">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
