<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="aptitudeTest">
            <h2><span>Aptitude Test</span> {{aptitudeTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{aptitudeTest.name}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{aptitudeTest.createdDate}}</span>
                </dd>
                <dt><span>Institution</span></dt>
                <dd>
                    <div *ngIf="aptitudeTest.institution">
                        <a [routerLink]="['/institution', aptitudeTest.institution?.id, 'view']">{{aptitudeTest.institution?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/aptitude-test', aptitudeTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
