<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <!--Esto le da un margen a la izquiera para que no lo tape el menu lateral-->
        <div class="">
            <a class="navbar-brand logo" (click)="logoRedirection()">
                <span class="logo-img"></span>
            </a>
        </div>

        <div class="navbar-container">
            <!--Esto es para compactar el menu cuando la pantalla es más pequeña-->
            <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse"
               data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation" (click)="toggleNavbar()">
                <fa-icon icon="bars"></fa-icon>
            </a>

            <div id="navbarSupportedContent" class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed"
                 [ngSwitch]="isAuthenticated()">
                <ul class="navbar-nav ml-auto">

                    <li *ngSwitchCase="true" class="nav-item" ngbDropdown placement="bottom-right">
                        <a class="nav-link position-relative" id="dropdownBasic2" ngbDropdownToggle (click)="doThis()">
                            <i class="ft-bell font-medium-3 blue-grey darken-4"></i>
                            <span class="notification badge badge-pill badge-danger">{{userNotifications.length}}</span>
                            <p class="d-none">Notificaciones</p>
                        </a>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic2" class="notification-dropdown finish-him"
                             style="width: 500px">
                            <div class="noti-list" id="plsWork">
                                <a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1"
                                   (click)="clearAllNotifications()">Leer todas las notificaciones</a>
                            </div>
                        </div>
                    </li>

                    <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a id="entityMenu" class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);"
                           (click)="findActualUser()">
                            <span>
                                <fa-icon icon="th-list"></fa-icon>
                                <span>
                                    Menú
                                </span>
                            </span>
                        </a>

                        <!--Entity list-->
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entityMenu">
                            <li id="userAppPermissions" hidden>
                                <a class="dropdown-item" routerLink="user-app" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Usuarios</span>
                                </a>
                            </li>
                            <li id="participantPermissions" hidden>
                                <a class="dropdown-item" routerLink="participant" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Participantes</span>
                                </a>
                            </li>
                            <li id="calendarPermissions" hidden>
                                <a class="dropdown-item" routerLink="user-app/activities" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Mis actividades</span>
                                </a>
                            </li>
                            <li id="institutionPermissions" hidden>
                                <a class="dropdown-item" routerLink="institution" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Instituciones</span>
                                </a>
                            </li>
                            <li id="incentivePermissions" hidden>
                                <a *ngIf="membershipId == 2" class="dropdown-item" routerLink="incentive"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Incentivos</span>
                                </a>
                            </li>
                            <li id="aptitudeTestsPermissions" hidden>
                                <a class="dropdown-item" routerLink="aptitude-test" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Pruebas de aptitud (PA)</span>
                                </a>
                            </li>
                            <li id="testResultPermissions" hidden>
                                <a class="dropdown-item" routerLink="test-result" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Resultados de PA</span>
                                </a>
                            </li>
                            <li id="testQuestionPermissions" hidden>
                                <a class="dropdown-item" routerLink="test-question" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Preguntas de PA</span>
                                </a>
                            </li>
                            <li id="testAnswerPermissions" hidden>
                                <a class="dropdown-item" routerLink="test-answer-option" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Respuestas de PA</span>
                                </a>
                            </li>
                            <li id="focusGroupPermissions" hidden>
                                <a class="dropdown-item" routerLink="focus-group" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Grupos de enfoque</span>
                                </a>
                            </li>
                            <li id="meetingPermissions" hidden>
                                <a class="dropdown-item" routerLink="meeting" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Reuniones</span>
                                </a>
                            </li>
                            <li id="membershipPermissions" hidden>
                                <a class="dropdown-item" routerLink="membership" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Membresías</span>
                                </a>
                            </li>
                            <li id="paymentMethodPermissions" hidden>
                                <a class="dropdown-item" routerLink="payment-method" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Métodos de pago</span>
                                </a>
                            </li>
                            <li id="systemVariablePermissions" hidden>
                                <a class="dropdown-item" routerLink="system-variable" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Variables del sistema</span>
                                </a>
                            </li>
                            <li id="categoryPermissions" hidden>
                                <a class="dropdown-item" routerLink="category" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Categorías</span>
                                </a>
                            </li>
                            <li id="balancePermissions" hidden>
                                <a class="dropdown-item" routerLink="balance-account" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Mi balance</span>
                                </a>
                            </li>
                            <li id="paymentPermissions" hidden>
                                <a class="dropdown-item" routerLink="payment" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Pagos</span>
                                </a>
                            </li>
                            <li id="banPermissions" hidden>
                                <a class="dropdown-item" routerLink="ban" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Suspenciones</span>
                                </a>
                            </li>
                            <li id="expulsionPermissions" hidden>
                                <a class="dropdown-item" [routerLink]="['participants-expulsions']"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Expulsiones</span>
                                </a>
                            </li>
                            <li id="chatPermissions" hidden>
                                <a class="dropdown-item" [routerLink]="['chat']" routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="asterisk" fixedWidth="true"></fa-icon>
                                    <span>Chat</span>
                                </a>
                            </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>

                    <!--User nav item-->
                    <li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">
                        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" (click)="findActualUser()">
                            <i class="ft-user font-medium-3 blue-grey darken-4"></i>
                            <!--Agregar class="d-none" para quitar el texto-->
                            <span class="">Configuraciones</span>
                        </a>

                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
                            <li id="participantPPermissions" hidden *ngSwitchCase="true" >
                                <a class="dropdown-item" *ngIf="participant" [routerLink]="['/participant', participant.id, 'view' ]"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                    <span>Mi perfil</span>
                                </a>
                            </li>
                            <li id="institutionPPermissions" hidden *ngSwitchCase="true" >
                                <a class="dropdown-item" *ngIf="institution" [routerLink]="['/institution', institution.id, 'view' ]"
                                   routerLinkActive="active"
                                   [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                                    <span>Mi perfil</span>
                                </a>
                            </li>
                            <li id="configurationPermissions" hidden *ngSwitchCase="true">
                                <a routerLink="settings" routerLinkActive="active" (click)="collapseNavbar()"
                                   class="dropdown-item py-1">
                                    <i class="ft-settings mr-2"></i>
                                    <span>Ajustes</span>
                                </a>
                            </li>
                            <li id="passwordResetPermissions" hidden *ngSwitchCase="true">
                                <a routerLink="password" routerLinkActive="active" (click)="collapseNavbar()"
                                   class="dropdown-item py-1">
                                    <i class="ft-edit mr-2"></i>
                                    <span>Cambiar contraseña</span>
                                </a>
                            </li>
                            <div *ngSwitchCase="true" class="dropdown-divider"></div>
                            <li *ngSwitchCase="true">
                                <a class="dropdown-item py-1" (click)="logout()" id="logout">
                                    <i class="ft-power mr-2"></i>
                                    <span>Cerrar sesión</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="false">
                                <a class="dropdown-item" (click)="login()" id="login">
                                    <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                                    <span>Iniciar sesión</span>
                                </a>
                            </li>
                            <li *ngSwitchCase="false">
                                <a class="dropdown-item" routerLink="register" routerLinkActive="active"
                                   (click)="collapseNavbar()">
                                    <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                                    <span>Registrarse</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>


        <!--<div class="navbar-collapse collapse" id="navbarReasponsive" [ngbCollapse]="isNavbarCollapsed"-->
        <!--[ngSwitch]="isAuthenticated()">-->
        <!--<ul class="navbar-nav ml-auto">-->

        <!--&lt;!&ndash; jhipster-needle-add-element-to-menu - JHipster will add new menu items here &ndash;&gt;-->
        <!--<li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer"-->
        <!--routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu">-->
        <!--<span>-->
        <!--<fa-icon icon="user-plus"></fa-icon>-->
        <!--<span>Administration</span>-->
        <!--</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="user" fixedWidth="true"></fa-icon>-->
        <!--<span>User management</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/jhi-metrics" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>-->
        <!--<span>Metrics</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/jhi-health" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="heart" fixedWidth="true"></fa-icon>-->
        <!--<span>Health</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/jhi-configuration" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="list" fixedWidth="true"></fa-icon>-->
        <!--<span>Configuration</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="bell" fixedWidth="true"></fa-icon>-->
        <!--<span>Audits</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li>-->
        <!--<a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
        <!--<span>Logs</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li *ngIf="swaggerEnabled">-->
        <!--<a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="book" fixedWidth="true"></fa-icon>-->
        <!--<span>API</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--&lt;!&ndash; jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here &ndash;&gt;-->
        <!--</ul>-->
        <!--</li>-->

        <!--<li ngbDropdown class="nav-item dropdown pointer" placement="bottom-right" routerLinkActive="active"-->
        <!--[routerLinkActiveOptions]="{exact: true}">-->
        <!--<a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);">-->
        <!--<span *ngIf="!getImageUrl()">-->
        <!--<fa-icon icon="user"></fa-icon>-->
        <!--<span>-->
        <!--Account-->
        <!--</span>-->
        <!--</span>-->
        <!--<span *ngIf="getImageUrl()">-->
        <!--<img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">-->
        <!--</span>-->
        <!--</a>-->
        <!--<ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">-->
        <!--<li *ngSwitchCase="true">-->
        <!--<a class="dropdown-item" routerLink="settings" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="wrench" fixedWidth="true"></fa-icon>-->
        <!--<span>Settings</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li *ngSwitchCase="true">-->
        <!--<a class="dropdown-item" routerLink="password" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="clock" fixedWidth="true"></fa-icon>-->
        <!--<span>Password</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li *ngSwitchCase="true">-->
        <!--<a class="dropdown-item" (click)="logout()" id="logout">-->
        <!--<fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>-->
        <!--<span>Sign out</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li *ngSwitchCase="false">-->
        <!--<a class="dropdown-item" (click)="login()" id="login">-->
        <!--<fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
        <!--<span>Sign in</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li *ngSwitchCase="false">-->
        <!--<a class="dropdown-item" routerLink="register" routerLinkActive="active"-->
        <!--(click)="collapseNavbar()">-->
        <!--<fa-icon icon="user-plus" fixedWidth="true"></fa-icon>-->
        <!--<span>Register</span>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->

    </div>
</nav>
