<div class="row match-height">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3">
                    <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div *ngIf="meeting">
                                <h4 class="text-bold-500 primary"><i class="ft-info"></i> Información de la reunión</h4>
                                <hr>
                                <div class="card-block">
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-calendar"></i> Fecha</span>
                                        <span class="display-block overflow-hidden">{{meeting.date | date}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-clock"></i> Hora</span>
                                        <span class="display-block overflow-hidden">{{meeting.time.format('LT')}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-hash"></i> Nombre</span>
                                        <span
                                            class="display-block overflow-hidden">{{meeting.name}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-align-center"></i> Descripción</span>
                                        <span class="display-block overflow-hidden">{{meeting.description}}</span>
                                    </div>
                                    <div class="mb-3">
                                        <span class="text-bold-500 primary"><i class="ft-external-link"></i> Grupo de enfoque</span>
                                        <div *ngIf="meeting.focusGroup">
                                            <a class="black" [routerLink]="['/focus-group', meeting.focusGroup?.id, 'view']">{{meeting.focusGroup?.name}}</a>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit"
                                        (click)="previousState()"
                                        class="btn btn-raised btn-info">
                                    <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Atras</span>
                                </button>

                                <button type="button"
                                        [routerLink]="['/meeting', meeting.id, 'edit']"
                                        class="btn btn-raised btn-primary">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Editar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
