<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">
                    Motivos de expulsiones
                </h4>
            </div>
            <div class="card-body">
                <div class="card-block">
                    <div class="row">
                    </div>
                    <div class="table-responsive" *ngIf="bans">
                        <table class="table table-responsive-md text-center">
                            <thead>
                            <tr>
                                <th><span>Participante</span></th>
                                <th><span>Grupo de enfoque</span></th>
                                <th><span>Motivo</span></th>
                                <th><span>Queja</span></th>
                                <th><span>Acciones</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let ban of bans; trackBy: trackId">
                                <td>
                                    <div *ngIf="ban.participant">
                                        <a [routerLink]="['../participant', ban.participant?.id, 'view' ]">{{ban.participant?.user.name}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div *ngIf="ban.focusGroup">
                                        <a [routerLink]="['../focus-group', ban.focusGroup?.id, 'view' ]">{{ban.focusGroup?.name}}</a>
                                    </div>
                                </td>
                                <td>{{ban.reason}}</td>
                                <td>{{ban.complaint}}</td>
                                <td>
                                    <button id="btnInvalid" class="btn btn-raised btn-danger mr-1"
                                            (click)="sendInvalid(ban)">
                                        <i class="ft-x"></i> No es válido
                                    </button>
                                    <button class="btn btn-raised btn-primary" id="btnValid"
                                            (click)="sendValid(ban)">
                                        <i class="ft ft-check"></i> Válido
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

