<div>
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div *ngIf="errorEmailNotExists">
                <div id="dangerErrorAlert" #dangerErrorAlert
                     class="popupunder alert alert-dismissible custom-alert-danger">
                    <button type="button" data-dismiss="alert" class="close" (click)="closeMe(dangerErrorAlert)">×
                    </button>
                    <span class="ft-x"></span> <strong>¡Error!</strong>
                    <hr class="message-inner-separator"
                        style="background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));">
                    <p>El correo ingresado no está registrado! Por favor revisa e intenta de nuevo.</p>
                </div>
            </div>

            <div *ngIf="success === 'OK'">
                <div id="successAlert" #successAlert class="popupunder alert alert-dismissible custom-alert-success">
                    <button type="button" data-dismiss="alert" class="close" (click)="closeMeSuccess(successAlert)">×</button>
                    <span class="ft-check"></span> <strong>¡Felicidades!</strong>
                    <hr class="message-inner-separator"
                        style="background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));">
                    <p>Revisa tu correo para instrucciones de cómo recuperar tu contraseña.</p>
                </div>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <h1>Recuperar contraseña</h1>
                <div class="form-group">
                    <label class="form-control-label" for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email"
                           [(ngModel)]="resetAccount.email" email required minlength=5 maxlength=254
                           #emailInput="ngModel"/>

                    <div *ngIf="!emailInput.valid && (emailInput.dirty ||
                                 emailInput.touched)">
                        <small class="form-text text-muted danger"
                               *ngIf="emailInput.errors.required">
                            Este campo es requerido.
                        </small>
                        <small class="form-text text-muted danger"
                               *ngIf="emailInput.errors.email">
                            El correo es inválido.
                        </small>
                        <small class="form-text text-muted danger"
                               *ngIf="emailInput.errors.minlength">
                            El correo debe ser de al menos 5 caracteres.
                        </small>
                        <small class="form-text text-muted danger"
                               *ngIf="emailInput.errors.maxlength">
                            El correo no puede ser más largo de 250 caracteres.
                        </small>
                    </div>
                </div>

                <div class="row">
                    <div class="col-auto">
                        <button type="button" id="cancel-save" class="btn btn-raised btn-warning mr-1"
                                (click)="previousState()">
                            <i class="ft-x"></i> Cancelar
                        </button>
                    </div>
                    <div [ngbPopover]="popoverText"
                         triggers="mouseenter:mouseleave" popoverTitle="Formulario inválido."
                         *ngIf="resetRequestForm.form.invalid; else validRegisterBtn"
                         class="col-auto">
                        <button type="submit"
                                [disabled]="true"
                                class="btn btn-raised btn-primary">
                            <i class="ft ft-file-text"></i> Recuperar
                        </button>
                    </div>
                    <ng-template #popoverText>
                        <small class="display-block">Por favor, asegúrese de que todos los campos estén completos.
                        </small>
                    </ng-template>
                    <ng-template #validRegisterBtn>
                        <div class="col-auto">
                            <button type="submit" id="save-entity"
                                    class="btn btn-raised btn-primary">
                                <i class="ft ft-file-text"></i> Recuperar
                            </button>
                        </div>
                    </ng-template>
                </div>


            </form>
        </div>
    </div>
</div>
