<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Recuperar contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>El correo ingresado no está registrado!</strong> Por favor revisa e intenta de nuevo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingresa el correo que utilizaste para registrarte.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revisa tu correo para instrucciones de cómo recuperar tu contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=254 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Tu correo es requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Tu correo es inválido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Tu correo debe ser de al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Tu correo no puede ser más largo de 250 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-raised btn-primary">Recuperar</button>
            </form>
        </div>
    </div>
</div>
